<div class="page no-toolbar" data-name="cart" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Keranjang</div>
      <div class="right">
        <a href="#" class="link icon-only" data-label="btn-cart-remove">
          <i class="icon material-icons md-only">delete</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list" data-label="list-cart">
    </div>
    <!--<div class="list media-list" data-label="list-cart">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Product Name</div>
              <div class="item-after">
                CE
              </div>
              <div class="item-subtitle">Qty</div>
              <div class="item-text">Total</div>
            </div>
          </div>
        </li>
      </ul>
    </div>-->
    <div class="block block-strong row" data-label="form-product">
      <div class="col"><button type="button" class="button button-fill button-round" data-label="btn-checkout">CHECKOUT</button></div>
    </div>
  </div>
</div>
