<div class="page no-toolbar" data-name="product" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Produk</div>
      <div class="right">
        <a href="/cart/" class="link icon-only">
          <i class="icon material-icons md-only">shopping_cart<span class="badge color-red" style="top: -7px !important" data-label="num-cart">0</span></i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title block-title-medium skeleton-text skeleton-effect-wave" data-label="title" style="white-space: normal !important">PRODUK</div>
    <div class="card padding-top">
      <div class="col" style="text-align: center">
        <img src="img/icon-skeleton.png" width="40%" data-label="img" />
      </div>
      <div class="card-content card-content-padding skeleton-text skeleton-effect-wave" data-label="desc">____ _____ _____</div>
    </div>
    <form class="list" data-label="form-product">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Harga Satuan</div>
              <div class="item-after">
                <input type="text" name="price" value="0" style="text-align: right; font-weight: bold">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Jumlah</div>
              <div class="item-after">
                <div class="stepper stepper-raised stepper-small stepper-round stepper-fill" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true">
                  <div class="stepper-button-minus"></div>
                  <div class="stepper-input-wrap">
                    <input type="text" name="qty" value="1" min="1" step="1">
                  </div>
                  <div class="stepper-button-plus"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Total</div>
              <div class="item-after">
                <input type="hidden" name="price" value="0" />
                <input type="text" name="total" value="0" style="text-align: right; font-weight: bold">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </form>
    <div class="block block-strong row" data-label="form-product">
      <div class="col"><button type="button" class="button button-fill button-round" data-label="btn-cart">TAMBAH KERANJANG</button></div>
    </div>
  </div>
</div>
