<div class="page no-toolbar" data-name="project-detail" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Detil Project</div>
      <div class="right">
        <a href="#" class="link icon-only" data-label="btn-delete" style="display: none">
          <i class="icon material-icons md-only">delete</i>
        </a>
      </div>
    </div>
  </div>
  <div class="fab fab-right-bottom">
    <a href="#" data-label="btn-filter">
      <i class="icon material-icons md-only">search</i>
    </a>
  </div>
  <div class="page-content">
    <div class="block-title skeleton-text skeleton-effect-wave" data-label="title" style="white-space: normal !important">PROJECT</div>
    <div class="card padding-top">
      <div class="col" style="text-align: center">
        <img src="img/icon-skeleton.png" width="50px" data-label="img" />
      </div>
      <div class="card-content">
        <div class="list">
          <ul>
            <li>
              <div class="item-content" style="padding-left: 0 !important">
                <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                  <div class="item-title">Kontraktor</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="pr-contractor">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content" style="padding-left: 0 !important">
                <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                  <div class="item-title">Transmisi</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="pr-trans">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content" style="padding-left: 0 !important">
                <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                  <div class="item-title">Panjang Transmisi</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="pr-translength">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content" style="padding-left: 0 !important">
                <div class="item-inner" style="padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset))">
                  <div class="item-title">Progress Konstruksi</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="pr-progress">____</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-title">SUMMARY</div>
    <div class="data-table">
      <table class="bg-color-white">
        <thead>
          <tr>
            <th class="label-cell">STATUS</th>
            <th class="label-cell text-align-center"><img src="img/icon-map.png" width="30vw" /><br /><small style="font-size: 7pt">TAPAK</small></th>
            <th class="label-cell text-align-center"><img src="img/icon-building.png" width="30vw" /><br /><small style="font-size: 7pt">PONDASI</small></th>
            <th class="label-cell text-align-center"><img src="img/icon-tower.png" width="30vw" /><br /><small style="font-size: 7pt">ERECTION</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell">Total</td>
            <th class="numeric-cell text-align-center" colspan="3" data-label="sum-total">-</th>
          </tr>
          <tr>
            <td class="label-cell">Selesai</td>
            <th class="numeric-cell text-align-right" data-label="sum-tower-selesai">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-pondasi-selesai">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-erection-selesai">-</th>
          </tr>
          <tr>
            <td class="label-cell">Belum</td>
            <th class="numeric-cell text-align-right" data-label="sum-tower-belum">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-pondasi-belum">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-erection-belum">-</th>
          </tr>
          <tr>
            <td class="label-cell">On Going</td>
            <th class="numeric-cell text-align-center"></th>
            <th class="numeric-cell text-align-right" data-label="sum-pondasi-ongoing">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-erection-ongoing">-</th>
          </tr>
          <tr>
            <td class="label-cell">Available</td>
            <th class="numeric-cell text-align-center"></th>
            <th class="numeric-cell text-align-right" data-label="sum-pondasi-idle">-</th>
            <th class="numeric-cell text-align-right" data-label="sum-erection-idle">-</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list">
      <ul>
        <li class="padding">
          <a href="#" data-label="btn-download-report" class="button button-raised button-round button-fill">DOWNLOAD LAPORAN</a>
        </li>
      </ul>
    </div>
    <div class="block-title">Anggota</div>
    <div class="list simple-list skeleton-text skeleton-effect-wave" data-label="list-member">
      <ul>
        <li>MEMBER</li>
        <li>MEMBER</li>
      </ul>
    </div>
    <div class="block-title">Tower <div class="float-right"><a class="link padding-right" href="#" data-label="btn-tower-add"><small>TAMBAH</small></a>&nbsp;/&nbsp;<a class="link padding-left sortable-toggle" data-sortable="[data-label=list-tower]"><small>URUTKAN</small></a></div></div>
    <div class="block block-strong">
      <div class="chip color-red" style="background: #F96666;">
        <div class="chip-label" style="font-size: 8pt">BELUM BEBAS</div>
      </div>
      <div class="chip color-red" style="background: #F4E06D;">
        <div class="chip-label" style="font-size: 8pt">IDLE PONDASI</div>
      </div>
      <div class="chip color-red" style="background: #5F9DF7;">
        <div class="chip-label" style="font-size: 8pt">ON-GOING PONDASI</div>
      </div>
      <div class="chip color-red" style="background: #A66CFF;">
        <div class="chip-label" style="font-size: 8pt">MASA TUNGGU UMUR BETON</div>
      </div>
      <div class="chip color-red" style="background: #FFA500;">
        <div class="chip-label" style="font-size: 8pt">IDLE ERECTION</div>
      </div>
      <div class="chip color-red" style="background: #1F4690;">
        <div class="chip-label" style="font-size: 8pt">ON-GOING ERECTION</div>
      </div>
      <div class="chip color-red" style="background: #3D8361;">
        <div class="chip-label" style="font-size: 8pt">SELESAI</div>
      </div>
    </div>
    <div class="list sortable media-list no-margin-top chevron-center skeleton-text skeleton-effect-wave" data-label="list-tower" data-filter-code="">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">___ ____</div>
              </div>
              <div class="item-subtitle">_____</div>
              <div class="item-text">_____ __ _____</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="list" style="display: none">
      <ul>
        <li class="padding">
          <a href="#" data-label="btn-tower-add" class="button button-raised button-round button-fill">TAMBAH TOWER</a>
        </li>
      </ul>
    </div>
  </div>
</div>
