<div class="page no-toolbar" data-name="project-form" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Form Project</div>
    </div>
  </div>
  <div class="page-content">
    <form data-label="form">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Project</div>
              <div class="item-input-wrap">
                <input type="text" name="PrName" placeholder="Nama Project" required validate data-validate-on-blur="true"  data-error-message="Harap isi nama project."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Kontraktor</div>
              <div class="item-input-wrap">
                <input type="text" name="PrContractor" placeholder="Nama Kontraktor" required validate data-validate-on-blur="true"  data-error-message="Harap isi nama kontraktor."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Transmisi</div>
              <div class="item-input-wrap">
                <input type="text" name="PrTrans" placeholder="Jenis Transmisi" required validate data-validate-on-blur="true"  data-error-message="Harap isi jenis transmisi."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input" style="padding-bottom: 20px">
            <div class="item-inner">
              <div class="item-title item-label">Panjang (kmr)</div>
              <div class="item-input-wrap">
                <input type="text" name="PrTransLength" placeholder="Panjang Transmisi" required validate data-validate-on-blur="true" pattern="[0-9]*"  data-error-message="Harap isi panjang transmisi yang valid."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block-title">Anggota</div>
      <div class="list" data-label="list-member">
        <ul>
          <li>
            <label class="item-checkbox item-content">
              <input type="checkbox" name="Members" value="Member" />
              <i class="icon icon-checkbox"></i>
              <div class="item-inner">
                <div class="item-title skeleton-text skeleton-effect-wave">Member</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block">
        <p class="row">
          <button type="button" data-label="btn-submit" class="button button-raised button-round button-fill">SUBMIT</button>
        </p>
      </div>
    </form>
  </div>
</div>
