<div class="page no-toolbar" data-name="tower-progress" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-force="true" data-reload-current="true" data-ignore-cache="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Progress</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="card-content">
        <div class="list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title skeleton-text skeleton-effect-wave" style="font-weight: bold" data-label="work-title">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Tipe</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-type1">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Kelas</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-type2">____</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Ext.</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-ext">____</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="list">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Item 1</div>
              <div class="item-after">
                <button class="col button button-small button-round"><i class="icon material-icons md-only">check_circle_outline</i></button>
                <button class="col button button-small button-round"><i class="icon material-icons md-only">photo_camera</i></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>-->
    <div data-label="progress-item">
      <div class="block-title skeleton-text skeleton-effect-wave">__</div>
      <div class="list">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title skeleton-text skeleton-effect-wave">Mulai</div>
                <div class="item-after skeleton-text skeleton-effect-wave">____</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title skeleton-text skeleton-effect-wave">Mulai</div>
                <div class="item-after skeleton-text skeleton-effect-wave">____</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
