<div class="page no-toolbar" data-name="tower-detail" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-force="true" data-ignore-cache="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title">Detil Tower</div>
      <div class="right">
        <a href="#" class="link icon-only" data-label="btn-delete" style="display: none">
          <i class="icon material-icons md-only">delete</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <!--<div class="block-title skeleton-text skeleton-effect-wave" data-label="title" style="white-space: normal !important">TOWER</div>-->
    <div class="card">
      <div class="card-content">
        <div class="list">
          <ul>
            <li>
              <a href="#" class="item-link item-content" data-link-form="Nama" data-link-prop="WorkTitle" data-link-type="text" data-link-value="" data-link-prompt="Nama:">
                <div class="item-inner">
                  <div class="item-title">Nama</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="title">____</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content" data-link-form="Tipe" data-link-prop="WorkType1" data-link-type="select" data-link-opt="AA,BB,CC,DD,DDR" data-link-value="" data-link-prompt="Pilih Tipe:">
                <div class="item-inner">
                  <div class="item-title">Tipe</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-type1">____</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content" data-link-form="Kelas" data-link-prop="WorkType2" data-link-type="select" data-link-opt="1,2,3,6,7" data-link-value="" data-link-prompt="Pilih Kelas:">
                <div class="item-inner">
                  <div class="item-title">Kelas</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-type2">____</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content" data-link-form="Extension" data-link-prop="WorkExt" data-link-type="number" data-link-value="" data-link-prompt="Extension:">
                <div class="item-inner">
                  <div class="item-title">Ext.</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-ext">____</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content" data-allow-change="1" data-link-form="Status Lahan" data-link-prop="WorkStatus" data-link-type="select" data-link-opt="BELUM BEBAS,BEBAS" data-link-value="" data-link-prompt="Pilih Status Lahan:">
                <div class="item-inner">
                  <div class="item-title">Status Lahan</div>
                  <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-statuslahan">____</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-title">PONDASI</div>
    <div class="list no-margin-bottom no-hairlines">
      <ul>
        <li>
          <a href="#" class="item-link item-content" data-allow-change="1" data-link-form="Tgl. Mulai Pondasi" data-link-prop="WorkStartDate1" data-link-type="date" data-link-value="" data-link-prompt="Tanggal Mulai Pondasi:">
            <div class="item-inner">
              <div class="item-title">Mulai</div>
              <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-startdate1">____</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="block block-strong no-margin-top">
      <div class="row">
        <div class="col text-align-center">
          <div class="gauge gauge-init"
            data-label="work-progress1"
            data-type="semicircle"
            data-value="0"
            data-value-text="0%"
            data-label-text="Progress"
            data-value-text-color="#2196f3"
            data-border-color="#2196f3"
          ></div>
        </div>
        <div class="col text-align-center">
          <div class="gauge gauge-init"
            data-label="work-progressdev1"
            data-type="semicircle"
            data-value="0"
            data-value-text="0%"
            data-label-text="Deviasi"
            data-value-text-color="#8e8e93"
            data-border-color="#8e8e93"
          ></div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <a href="#" data-label="btn-progress1" class="col link button button-small button-raised button-round button-fill" data-force="true" data-ignore-cache="true">UPDATE PROGRESS</a>
      </div>
    </div>
    <div class="block-title">MASA TUNGGU UMUR BETON</div>
    <div class="list no-margin-bottom no-hairlines">
      <ul>
        <li>
          <a href="#" class="item-link item-content" data-allow-change="1" data-link-form="Tgl. Mulai Beton" data-link-prop="WorkStartDate3" data-link-type="date" data-link-value="" data-link-prompt="Tanggal Mulai Beton:">
            <div class="item-inner">
              <div class="item-title">Mulai</div>
              <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-startdate3">____</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content" data-allow-change="1" data-link-form="Pencampuran Zat Adiktif" data-link-prop="WorkIsAdiktif" data-link-type="select" data-link-opt="Ya,Tidak" data-link-value="" data-link-prompt="Apakah pondasi dilakukan pencampuran dengan zat adiktif?">
            <div class="item-inner">
              <div class="item-title">Zat Adiktif</div>
              <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-is-adiktif">____</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="block block-strong no-margin-top">
      <div class="row">
        <div class="col text-align-center">
          <div class="gauge gauge-init"
            data-label="work-progress3"
            data-type="semicircle"
            data-value="0"
            data-value-text="-"
            data-label-text="HARI LAGI"
            data-value-text-color="#2196f3"
            data-border-color="#2196f3"
          ></div>
        </div>
      </div>
    </div>
    <div class="block-title">ERECTION</div>
    <div class="list no-margin-bottom no-hairlines">
      <ul>
        <li>
          <a href="#" class="item-link item-content" data-allow-change="1" data-link-form="Tgl. Mulai Erection" data-link-prop="WorkStartDate2" data-link-type="date" data-link-value="" data-link-prompt="Tanggal Mulai Erection:">
            <div class="item-inner">
              <div class="item-title">Mulai</div>
              <div class="item-after skeleton-text skeleton-effect-wave" data-label="work-startdate2">____</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="block block-strong no-margin-top">
      <div class="row">
        <div class="col text-align-center">
          <div class="gauge gauge-init"
            data-label="work-progress2"
            data-type="semicircle"
            data-value="0"
            data-value-text="0%"
            data-label-text="Progress"
            data-value-text-color="#2196f3"
            data-border-color="#2196f3"
          ></div>
        </div>
        <div class="col text-align-center">
          <div class="gauge gauge-init"
            data-label="work-progressdev2"
            data-type="semicircle"
            data-value="0"
            data-value-text="0%"
            data-label-text="Deviasi"
            data-value-text-color="#8e8e93"
            data-border-color="#8e8e93"
          ></div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <a href="#" data-label="btn-progress2" class="col link button button-small button-raised button-round button-fill" data-force="true" data-ignore-cache="true">UPDATE PROGRESS</a>
      </div>
    </div>

    <div class="block-title">LAPORAN KENDALA <a class="link float-right" href="#" data-label="btn-report"><span>BUAT</span></a></div>
    <div class="list media-list" data-label="list-report">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title skeleton-text skeleton-effect-wave">Laporan Kendala 1</div>
                <div class="item-after skeleton-text skeleton-effect-wave">__/__/____</div>
              </div>
              <div class="item-subtitle skeleton-text skeleton-effect-wave">___</div>
              <!--<div class="item-text">__</div>-->
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
