<div class="page no-toolbar" data-name="tower-form" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Form Tower</div>
    </div>
  </div>
  <div class="page-content">
    <form data-label="form">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Tower</div>
              <div class="item-input-wrap">
                <input type="text" name="WorkTitle" placeholder="Nama Tower" required validate data-validate-on-blur="true"  data-error-message="Harap isi nama project."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Jenis Tower</div>
              <div class="item-input-wrap">
                <div class="row">
                  <div class="col-50 input-dropdown-wrap">
                    <select name="WorkType1">
                      <option value="AA">AA</option>
                      <option value="BB">BB</option>
                      <option value="CC">CC</option>
                      <option value="DD">DD</option>
                      <option value="DDR">DDR</option>
                    </select>
                  </div>
                  <div class="col-50">
                    <input type="number" name="WorkExt" placeholder="Ext."  />
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Jenis Pondasi</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <select name="WorkType2">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
            </div>
          </li>
          <li class="padding">
            <button type="button" data-label="btn-submit" class="button button-raised button-round button-fill">SUBMIT</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
